<div class="container">
  <form [formGroup]="pancardform">
    <div class="row p-2">
      <h1 class="text-center">pancardform</h1>
      <div class="col-6 m-auto">
        <label class="form-label">Cardholder</label>
        <input
          type="text"
          class="form-control"
          place
          holder="enter name"
          formControlName="Cardholder"
        />
        <label class="form-label">purpose</label>
        <input
          type="text"
          class="form-control"
          place
          holder="enter of pan purpose"
          formControlName="purpose"
        />
        <label class="form-label">fathername</label>
        <input
          type="text"
          class="form-control"
          place
          holder="fathername"
          formControlName="fathername"
        />
        <label class="form-label">email</label>
        <input
          type="text"
          class="form-control"
          place
          holder="email"
          formControlName="email"
        />
        <label class="form-label">mobile</label>
        <input
          type="number"
          class="form-control"
          place
          holder="mobile"
          formControlName="mobile"
        />
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="submit" (click)="submit()">
          submit
        </button>
      </div>
    </div>
  </form>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Cardholder</th>
        <th>purpose</th>
        <th>fathername</th>
        <th>email</th>
        <th>mobile</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pancard">
        <td>{{ p.Cardholder }}</td>
        <td>{{ p.purpose }}</td>
        <td>{{ p.fathername }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.mobile }}</td>
        <td>
          <div class="text-primary text-center">
            <a
              ><i
                class="bi bi-pencil-square"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                (click)="edit(p)"
              ></i
            ></a>

            <!-- Button trigger modal -->
            
              <a
                ><i
                  class="bi bi-trash"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                ></i
              ></a>
            

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      confirmation
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">Are you sure you want to delete</div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      no
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="deletepan(p)"
                    >
                      yes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
                                  <h4 class="modal-title m-auto ">Edit details</h4>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                              </div> -->

                <!-- Modal body -->
                <form [formGroup]="editpancardform">
                  <div class="row">
                    <h1 class="text-center">pancardform</h1>
                    <div class="col-6 m-auto">
                      <label class="form-label">Cardholder</label>
                      <input
                        type="text"
                        class="form-control"
                        place
                        holder="enter name"
                        formControlName="Cardholder"
                      />
                      <label class="form-label">purpose</label>
                      <input
                        type="text"
                        class="form-control"
                        place
                        holder="enter of pan purpose"
                        formControlName="purpose"
                      />
                      <label class="form-label">fathername</label>
                      <input
                        type="text"
                        class="form-control"
                        place
                        holder="fathername"
                        formControlName="fathername"
                      />
                      <label class="form-label">email</label>
                      <input
                        type="text"
                        class="form-control"
                        place
                        holder="email"
                        formControlName="email"
                      />
                      <label class="form-label">mobile</label>
                      <input
                        type="number"
                        class="form-control"
                        place
                        holder="mobile"
                        formControlName="mobile"
                      />
                    </div>
                    <div class="text-center">
                      <button
                        class="btn btn-primary"
                        type="submit"
                        (click)="updatepan()"
                      >
                        update
                      </button>
                    </div>
                  </div>
                </form>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
